// Dvariabili di colori
$color-primary: #554e9e;
$color-secondary: #fe6601;
$color-tertiary: #fefffe;
$color-text: #262626;

// Variabili di layout
$container-max-width: 1200px;

// Variabili di testo
$font-size: 1rem;
$line-height: 1.5;
$base-font: 'DM Sans', sans-serif;
